@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-weight: 300;
  text-align: center;
  color: #3a3a3a;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
  padding: 3px;
}

body {
  margin: 0 auto;
  background-color: #88B14B;
  overflow-x: hidden;
}

input,textarea,
input:focus{
  border: none;
  outline: none;
  /* appearance: none; */
}



/* header */
header {
  width: 100%;
  height: 55px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo img {
  height: 45px;
}

.menu_box {
  width: 55px;
  height: 55px;
}

.menu {
  transform: translateX(100%);
  width: 100%;
  height: 55px;
  transition: 1s;
}

.menu ul {
  height: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: #FFF;
}

.menu.active {
  transform: translateX(0);
}


/* 메뉴 버튼 */
.menu-trigger {
  position: absolute;
  margin: 9px 0 0 7.5px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 35px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 15px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(16px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}


/* maintop */
.main_top {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

/* 말풍선 */
.msg_box {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  transform: translateY(-140px);
}

.msg_box::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 50px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.msg_wrap {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msg {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  display: flex;
}

.msg li {
  width: 300px;
}

.next {
  margin: 60px auto 0;
}

/* .next {
  width: 100px;
  margin: 30px auto 0;
  border-radius: 20px;
  border : 1px solid #88B14B;
  color: #88B14B;
  background-color: transparent;
}

.next:hover{
  transition: .6s;
  color:#fff;
  background-color: #88B14B;
} */



/* 캐릭터 이미지 */
.top_img{
  width: 790px;
  z-index: 1;
}

/* section1.포트폴리오 */
.white_back {
  width: 100%;
  height: 1100px;
  background-color: #FFF;
  border-radius: 35px 35px 0px 0px;
  transform: translateY(-15px);
  position: relative;
}

/* modal */
.modalWrap{
  position:fixed;
  display:none; 
  justify-content: center;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 9;
}
.modalContent{
  position:absolute;
  top:50%;
  left: 50%;
  width:50%;
  height: 50%;
  background-color: #fff;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.portfolioSection {
  position: relative;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolioTextWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.portfoliotitle h5{
  font-size: 28px;
  font-weight: 600;
  color:#88B14B;
}
.portfolioTab{
  width:55%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #88B14B;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:60px;
}
.portfolioIconWrap{
  padding-top: 40px;
}
.portfolioIcon {
  cursor: pointer;
  background-color: transparent;
  border:none;
  font-size: 16px;
}
.portfolioIcon.active {
  color: #88B14B;
  font-weight: 600;
}

/* 슬라이드 */

.mySwiper {
  display: none;
  width:100%;
  height: 408px;
}
.mySwiper.active {
  display: block
}
.swiper-slide button,
.next{
  width: 110px;
  height: 35px;
  border-radius: 20px;
  background-color: #ffbe5f;
  /* box-shadow: 0 2px ; */
  border-color: #000;
  margin-top: 20px;
}
.swiper-slide button:hover,
.next:hover{
  background-color: #fff;
  /* box-shadow:none; */
  border-color: #ffbe5f;
}
.swiper-slide p{
  color: #88B14B;
}
.swiper-slide h6{
  margin-top: 15px;
}
.swiper-button-prev,
.swiper-button-next{
  position: absolute;
  top:60%;
  color: #88B14B;
  font-size: 40px;
}
.swiper-button-prev{
  left:-40px;
}
.swiper-button-next{
  right:-40px;
}

.swiper-button-prev::after,
.swiper-button-next:after{
  font-size: 80px;
}

.box {
  width: 50%;
  height: 100%;
  padding: 0 30px;
}
.box img {
  width: 80%;
}




/* skillIcon */
.skill_wrap {
  width: 100%;
  height:100%;
  background-color: #ebebeb;
  transform: translateY(-15px);
}
.skills {
  padding: 180px 0;
}
.skillTitle_1 {
  font-size: 28px;
  font-weight: 600;
}
.skillTitle_2 {
  font-size: 28px;
  font-weight: 600;
  color:#88B14B
}


.skill_des {
  width: 100%;
  padding: 60px 0;
}

.skillIcon {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 35px;
  flex-wrap: wrap;
  margin: 60px auto 0;
}

.skillIcon div {
  width: 50px;
  position: relative;
}

.skillIcon span {
  visibility: hidden;
  font-size: 14px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFBE5F;
  position: absolute;
  top: 50px;
  left: calc(50% - 45px);
  margin-top: 15px;
  text-align: center;
  line-height: 27px;
  z-index: 1;
  font-weight: 600;
}

.skillIcon span::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 40px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFBE5F;
  border-left: 5px solid transparent;
}

.skillIcon div:hover span {
  visibility: visible;
}

.skillIcon div:hover img {
  filter: invert(94%) sepia(95%) saturate(3979%) hue-rotate(310deg) brightness(99%) contrast(104%);
}


/* footer */
.footerWrap{
  height: 900px;
  position: relative;
}

.footerTitle h5{
  font-size: 28px;
  color:#fff;
}

.footerText {
  color: #fff;
  padding: 50px 15%;
  text-align: center;
}

.backGreen {
  background-color: #88B14B;
  height: 50%;
  padding-top: 120px;
}
.backwhite{
  background-color: #fff;
  height: 50%;

}
.backwhite .container{
  position: relative;;
  width: 60%;
  height: 100%;

}
.footerinfo{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 30px;
  display: flex;
  justify-content:center;
  line-height: 16px;
  vertical-align: middle;

}

.footerinfo p{
  color:#adadad;
}

.footerinfo i{
  font-size: 20px;
  padding-left: 5px;
  color:#adadad;
}

.contactWrap{
  position: absolute;
  height:400px;
  width: 50%;
  background-color: #fff;
  box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  bottom:20%;
  left: 25%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.contactInfo{
  width:40%;
  height: 95%;
  border-radius: 20px;
  padding: 50px;
  /* background-color: #547720; */
  background-color: #6f884a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contactInfo h5{
  color:#FFF;
  text-align: start;
}

.contactInfo h6,
.contactInfo i{
  font-size: 12px;
  color:#ffe4bc;
}

.contactInfo h6{
  display: block;
  text-align: start;
}

.contactInfo p{
  font-size: 14px;
  color: #fff;
}

.contactForm{
  width:60%;
  padding-right:50px;
  text-align: start;
  font-size: 14px;
}

.contactForm .dataBtn{
  width:20%;
  height: 30px;
  background-color: #FFBE5F;
  border-radius: 25px;
}

.contactForm form{
  text-align: start;
  margin-bottom: 15px;
}

.contactForm form label{
  font-size: 12px;
}

.contactForm form input,
.contactForm form textarea{
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.contactForm form input{
  border-bottom: 1px solid #adadad;
  margin-bottom: 15px;
}

.contactForm form textarea{
  border-bottom: 1px solid #adadad;
  resize: none;
}

.contactForm form input:focus,
.contactForm form textarea:focus{
  border-bottom: 2px solid #88B14B;
}

.error{
  color:red;
}