@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-weight: 300;
  color: #3a3a3a;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  background-color: #88B14B;
  overflow-x: hidden;
}

input,textarea,
input:focus{
  border: none;
  outline: none;
}

.container {
  text-align: center;
}

/* header */

header {
  width: 100%;
  height: 55px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo img {
  height: 45px;
}

.menu_box {
  width: 55px;
  height: 55px;
}

.menu {
  transform: translateX(100%);
  width: 100%;
  height: 55px;
  transition: 1s;
}

.menu ul {
  height: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: #FFF;
}

.menu.active {
  transform: translateX(0);
}


/* button animation */
.menu-trigger {
  position: absolute;
  margin: 9px 0 0 7.5px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 35px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 15px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(16px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

/* main */
.white_back {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 32px 35px 0px 0px;
  margin-top: 100px;
}

.white_back .container{
  padding-bottom: 120px;
}

.portfolioTitle{
  padding-top: 100px;
  color:#88B14B;
  font-weight: 600;
}

.portfolioListWrap{
  padding: 100px 0;
}
.portfolioList{
  display: flex;
  width: 60%;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #88B14B;
  padding: 10px;
  gap:30px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.portfolioList li{
  cursor: pointer;
}

.portfolioList li.active{
  color:#88B14B;
  font-weight: 600;
}

.contentWrap{
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap:10px;
  margin-bottom: 60px;
}

.content{
  text-align: left;
  width:50%;
}
.content h4{
  font-weight: 500;
  padding-bottom: 20px;
}

.green{
  color:#88B14B;
  margin-top: 15px;
}
.green:first-child{
  margin: 0;
}

p{
  padding-bottom:5px;
  margin: 0;
  font-size: 14px;
}

.monitor{
  width:50%;
  position: relative;
}

.monitor img{
  width:100%;
}

.icon{
  display: flex;
  gap:20px;
  text-align: center;
}

.icon img{
  width: 30px;
  height: 40px;
}

.icon p{
  font-size: 10px;
}

.monitor .btn{
  width:50%;
  position: absolute;
  top:30%;
  left: 25%;
  padding:5px 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-top: 30px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5)
}
.monitor .btn span{
  font-size: 20px;
  color:#fff;
}
.monitor .btn:hover{
  background-color: #88B14B;
}

/* footer */
.footerWrap{
  height: 900px;
  position: relative;
}

.footerTitle h5{
  font-size: 28px;
  color:#fff;
}

.footerText {
  padding: 50px 15%;
  text-align: center;
}
.footerText p{
  color:#fff;
}

.backGreen {
  background-color: #88B14B;
  height: 50%;
  padding-top: 120px;
}
.backwhite{
  background-color: #fff;
  height: 50%;

}
.backwhite .container{
  position: relative;;
  width: 60%;
  height: 100%;

}
.footerinfo{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 30px;
  display: flex;
  justify-content:center;
  line-height: 16px;
  vertical-align: middle;
}

.footerinfo p{
  color:#adadad;
}

.footerinfo i{
  font-size: 20px;
  padding-left: 5px;
  color:#adadad;
}

.contactWrap{
  position: absolute;
  height:400px;
  width: 50%;
  background-color: #fff;
  box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  bottom:20%;
  left: 25%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.contactInfo{
  width:40%;
  height: 95%;
  border-radius: 20px;
  padding: 50px;
  /* background-color: #547720; */
  background-color: #6f884a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contactInfo h5{
  color:#FFF;
  text-align: start;
}

.contactInfo h6,
.contactInfo i{
  font-size: 12px;
  color:#ffe4bc;
}

.contactInfo h6{
  display: block;
  text-align: start;
}

.contactInfo p{
  font-size: 14px;
  color: #fff;
}

.contactForm{
  width:60%;
  padding-right:50px;
  text-align: start;
  font-size: 14px;
}

/* 버튼 */

.contactForm .dataBtn{
  width: 110px;
  height: 35px;
  border-radius: 20px;
  background-color: #ffbe5f;
  border-color: #000;
  margin-top: 20px;

}
.contactForm .dataBtn:hover{
  background-color: #fff;
  border-color: #ffbe5f;
  transition: linear .3s;
}

.msgNext{
  margin-top: 0;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 55px);
}

.contactForm form{
  text-align: start;
  margin-bottom: 15px;
}

.contactForm form label{
  font-size: 12px;
}

.contactForm form input,
.contactForm form textarea{
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.contactForm form input{
  border-bottom: 1px solid #adadad;
  margin-bottom: 15px;
}

.contactForm form textarea{
  border-bottom: 1px solid #adadad;
  resize: none;
}

.contactForm form input:focus,
.contactForm form textarea:focus{
  border-bottom: 2px solid #88B14B;
}

.error{
  color:red;
}