@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  background-color: #88B14B;
  overflow-x: hidden;
}

.white_back {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 32px 35px 0px 0px;
  margin-top: 100px;
}

.container {
  text-align: center;
}

/* header */

header {
  width: 100%;
  height: 55px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo img {
  height: 45px;
}

.menu_box {
  width: 55px;
  height: 55px;
}

.menu {
  transform: translateX(100%);
  width: 100%;
  height: 55px;
  transition: 1s;
}

.menu ul {
  height: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: #FFF;
}

.menu.active {
  transform: translateX(0);
}


/* button animation */
.menu-trigger {
  position: absolute;
  margin: 9px 0 0 7.5px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 35px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 15px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(16px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

/* main */
.portfolioTitle{
  padding-top: 100px;
}
.portfolioListWrap{
  padding: 100px 0;
}
.portfolioList{
  display: flex;
  width: 50%;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #88B14B;
  padding: 10px;
  gap:25px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contentWrap{
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap:10px;
  margin-bottom: 60px;
}

.content{
  text-align: left;
  width:50%;
}
.content h4{
  font-weight: 500;
  padding-bottom: 20px;
}

.green{
  color:#88B14B;
  margin-top: 15px;
}
.green:first-child{
  margin: 0;
}

p{
  padding-bottom:5px;
  margin: 0;
}

.monitor{
  width:50%;
  position: relative;
}

.monitor img{
  width:100%;
}

.icon{
  display: flex;
  gap:20px;
  text-align: center;
}

.icon img{
  width: 30px;
  height: 40px;
}

.icon p{
  font-size: 10px;
}

.monitor .btn{
  width:50%;
  position: absolute;
  top:30%;
  left: 25%;
  padding:5px 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-top: 30px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5)
}
.monitor .btn span{
  font-size: 20px;
  color:#fff;
}
.monitor .btn:hover{
  /* background-color:#FFF; */
  /* background-color: #ffbe5f; */
  background-color: #88B14B;
}

/* footer */
footer {
  background-color: #88B14B;
  width: 100%;
  padding: 180px 0;
}

footer h2{
  color:#FFF;
}

.f_cont {
  color: #fff
}

.f_des {
  padding: 50px 30%;
  text-align: center;
}

.footerBtn span{
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 2px solid #fff;
  color: #FFF;
  line-height: 46px;
  vertical-align: middle;

}

.footerBtn span:hover {
  background-color: #FFF;
  color: #88B14B
}

.footerBtn a:first-child{
  margin-right:30px;
}