@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');

* {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  background-color: #88B14B;
  overflow-x: hidden;
}

.white_back{
  margin-top: calc(100vh - 10%);
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 32px 35px 0px 0px;
}

.container {
  text-align: center;
}

.pd_1 {
  padding-top: 80px;
}

/* header */

header {
  position: relative;
  width: 100%;
  height: 55px;
  margin-top: 20px;
}

.logo {
  height: 100%;
  margin-left: 2%;
}

.logo a img {
  height: 45px;
  transform: translateY(19%);
}

.menu_box {
  width: 55px;
  height: 55px;
  float: right;
}

nav {
  position: absolute;
  top:0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: -1;
}

nav ul {
  height: 100%;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

nav ul li a {
  color: #FFF;
}

nav.active {
  right: 0;
}

$color: #111
$primary: #FFAB9D

html, body
  height: 100%
  
body
  display: grid
  font-family: Avenir, sans-serif
  color: $color
  
a
  text-decoration: none
  color: inherit

.cta
  position: relative
  margin: auto
  padding: 19px 22px
  transition: all .2s ease
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    display: block
    border-radius: 28px
    background: rgba($primary,.5)
    width: 56px
    height: 56px
    transition: all .3s ease
  span
    position: relative
    font-size: 16px
    line-height: 18px
    font-weight: 900
    letter-spacing: .25em
    text-transform: uppercase
    vertical-align: middle
  svg
    position: relative
    top: 0
    margin-left: 10px
    fill: none
    stroke-linecap: round
    stroke-linejoin: round
    stroke: $color
    stroke-width: 2
    transform: translateX(-5px)
    transition: all .3s ease
  &:hover
    &:before
      width: 100%
      background: rgba($primary,1)
    svg
      transform: translateX(0)
  &:active
    transform: scale(.96)

/* button animation */
.menu-trigger {
  position: absolute;
  margin: 9px 0 0 7.5px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 35px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 15px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(16px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}


/* maintop */

.main_top img {
  width: 888px;
  transform: translatey(160px);
  /* transform: translate(190px, 160px); */
}

object svg {
  fill: #88B14B;
}

.main_title {
  top: 50%;
  color: #456418;
  font-family: 'Kranky', serif;
  font-size: 60px;
}

.path {
  top: 10%;
  width: 532px;
  height: 700px;
  background-color: #fff;
  clip-path: ellipse(49% 49% at 50% 50%);
}

.path video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  width: 300px;
  height: 379px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.15);
}